<h1>Search results</h1>
<% if @employee_ids.empty? %>
  <h4>No result found</h4> 
<% end %>
<table>
  <thead>
    <tr>
      <% Employee.column_names.each do |column_name| %>
        <th><%= column_name %></th>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <% @employee_ids.each do |employee_id| %>
      <% e= Employee.find(employee_id) %>
      <tr>
        <td><%= e.name %></td>
        <td><%= e.email %></td>
        <td><%= e.phone_number %></td>
        <td><%= e.created_at %></td>
        <td><%= e.updated_at %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<div><%= link_to "Back", root_path %>