<% @page_title= "Showing #{@employee.name}" %>
<h1><%= @page_title %></h1>
<dl>
  <dt>Email : </dt>
  <dd><%= @employee.email %></dd>
  <dt>Phone number : </dt>
  <dd><%= @employee.phone_number %></dd>
  <dt>Created At : </dt>
  <dd><%= @employee.created_at %></dd>
  <dt>Updated At : </dt>
  <dd><%= @employee.updated_at %></dd>
</dl>

<%= link_to "Back", employees_path, class: "btn btn-primary"  %>