<style>
  body{
    font-family: Arial;
  }
  table{
    margin: auto;
  }
  th{
    text-transform: uppercase;
    padding:1rem;
    border: 2px solid rgb(0,0,0,0.8);
  }
  td{
    padding:1rem;
    text-align: center;
    border: 1px solid rgb(0,0,0,0.5);
  }
</style>
<h1>Student records</h1>

<% student_columns=["id","name","email","phone_number"] %>
<table class="table">
  <thead>
    <tr>
      <% student_columns.each do |col| %>
        <th><%= col %></th>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <% @student.each do |student| %>
      <tr>
        <td><%= student.id %></td>
        <td><%= student.name %></td>
        <td><%= student.email %></td>
        <td><%= student.phone_number %></td>
      </tr>
    <% end %>
  </tbody>
</table>
