<% @page_title= "Home Page" %>
<h1><%= @page_title %></h1>


<div>
  <%= link_to(users_download_path(format: :csv), class: "btn btn-primary") do %>
    <span>Download User Record as CSV</span>
  <% end %>
</div>
<div>
  <%= link_to(employees_download_path(format: :pdf), class: "btn btn-primary") do %>
    <span>Download Employee Record as PDF</span>
  <% end %>
</div>
<div>
  <%= link_to(students_mail_record_path, class: "btn btn-danger") do %>
    <span>Mail Student Records</span>
  <% end %>
</div>
<div>
  <%= link_to(images_new_path, class: "btn btn-success") do %>
    <span>Upload New Image</span>
  <% end %>
  <%= link_to(images_show_path, class: "btn btn-success") do %>
    <span>View Images</span>
  <% end %>
</div>
<div>
  <%= link_to(customers_path, class: "btn btn-warning") do %>
    <span>CRUD operation on Customer record</span>
  <% end %>
</div>