<h1>Home Page</h1>
<div class="container">
  <%= form_tag(employees_search_path, :method => "get") do %>
    <div class="form-group">
      <%= label_tag(:q,"Search : ") %>
      <%= text_field_tag(:q, :class => "form-control") %>
      <%= submit_tag("Search Employee", class: "btn btn-primary") %>
    </div>
  <% end %>
</div>

<div>
  <%= link_to("Download User Record as CSV",users_download_path(format: :csv), class: "btn btn-primary" ) %>
</div>
<div class="">
  <%= link_to("Download Employee Record as PDF",employees_download_path(format: :pdf), class: "btn btn-primary") %>
</div>
<div class="">
  <%= link_to("Mail Student Records", students_mail_record_path, class: "btn btn-danger") %>
</div>
<div class="">
  <%= link_to("Upload New Image", images_new_path, class: "btn btn-success") %>
</div>
<%= link_to "CRUD operation on Employee record", employees_path, class: "btn btn-warning" %>