<% @page_title= "Home Page" %>
<h1><%= @page_title %></h1>


<div>
  <%= link_to("Download User Record as CSV",users_download_path(format: :csv), class: "btn btn-primary" ) %>
</div>
<div class="">
  <%= link_to("Download Employee Record as PDF",employees_download_path(format: :pdf), class: "btn btn-primary") %>
</div>
<div class="">
  <%= link_to("Mail Student Records", students_mail_record_path, class: "btn btn-danger") %>
</div>
<div class="">
  <%= link_to("Upload New Image", images_new_path, class: "btn btn-success") %>
  <%= link_to("View Images", images_show_path, class: "btn btn-success") %>
</div>
<%= link_to "CRUD operation on Employee record", customers_path, class: "btn btn-warning" %>