<h1>Home Page</h1>

<%= form_tag(employee_search_path, :method => "get") do %>
  <%= label_tag(:q,"Search : ") %>
  <%= text_field_tag(:q) %>
  <%= submit_tag("Search Employee") %>
<% end %>


<%= link_to("Button 1",user_download_path(format: :csv)) %>
<%= link_to("Button 2",employee_download_path(format: :pdf)) %>
<%= link_to("Button 3", student_mail_record_path) %>

<%= link_to("Upload New Image", image_new_path) %>

<%= link_to "CRUD operation on Employee record", employee_index_path %>