<%=  form_for(@customer) do |f|%>
  <%= render(partial: "shared/error_messages", locals: { target: @customer }) %>

  <div>
    <%= f.label :name %>
    <%= f.text_field :name, class: "form-control", placeholder: "Enter your name" %>
  </div>

  <div>
    <%= f.label :email %>
    <%= f.email_field :email, class: "form-control", placeholder: "Enter your email" %>
  </div>

  <div>
    <%= f.submit "Submit", class: "btn btn-primary"  %>
  </div>
<% end %>