
<% if params[:q].present? %>
  <% @page_title="Search results for for \"#{params[:q]}\"" %>
  <% @back_path="customer_path" %>
<% else %>
  <% @page_title= "Customer Records" %>
  <% @back_path="root_path" %>
<% end %>
<h1><%= @page_title %></h1>

<div class="container">
  <%= form_for(@customer, :method => "get") do %>
    <div class="form-group">
      <%= label_tag("q","Search : ") %>
      <%= text_field_tag "q", nil, placeholder:"Search customers", class: "form-control w-25" %>
      <%= submit_tag("Search Customer", class: "btn btn-primary") %>
    </div>
  <% end %>
</div>

<% if Customer.count!=0 %>
  <table class="table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>E-mail</th>
      </tr>
    </thead>

    <tbody>
      <% @customer.each do |c| %>
        <tr>
          <td><%= c.id %></td>
          <td><%= c.name %></td>
          <td><%= c.email %></td>
          <td><%= link_to "View", customer_path(c) %></td>
          <td><%= link_to "Edit", edit_customer_path(c) %></td>
          <td><%= link_to "Delete", customer_path(c), method: :delete, data: {confirm: "Are you sure?"} %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
<div>
  <%= link_to(new_customer_path, class: "btn btn-primary") do %>
    <span>Add New Customer</span>
  <% end %>
</div>
<div>
  <%= link_to(@back_path, class: "btn btn-primary") do %>
    <span>Back</span>
  <% end %>
</div>