<% @page_title= "Customer Search Results" %>
<h1><%= @page_title %></h1>

<% if @customers.empty? %>
  <h4>No result found</h4> 
<% else %>
  <table class="table">
    <thead>
      <tr>
        <% Customer.column_names.each do |column_name| %>
          <th><%= column_name %></th>
        <% end %>
      </tr>
    </thead>
    
    <tbody>
      <% @customers.each do |customer| %>
        <tr>
          <td><%= customer.id %></td>
          <td><%= customer.name %></td>
          <td><%= customer.email %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>

<div>
  <%= link_to(customers_path, class: "btn btn-primary") do %>
    <span>Back</span>
  <% end %>
</div>