<% @page_title= "Images List" %>
<h1><%= @page_title %></h1>

<% if @image.count==0 %>
  <div>No image is uploaded yet</div>
<% else %>
  <div class="row">
    <% @image.each do |image| %>
      <div class="col-sm-3">
        <%= link_to(image.post.url(:original), target: "_blank") do%>
          <figure>
            <%= image_tag(image.post.url(:thumb), alt: "#{image.img_name}") %>
            <figcaption><%= image.img_name %></figcaption>
          </figure>
        <% end %>
      </div>
    <% end %>
  </div>
<% end %>

<div>
  <%= link_to("Back",root_path, class: "btn btn-primary") %>
</div>